@model List<DatabaseApp.Models.Thesis>
@{
    ViewData["Title"] = "Update Thesis";
}

<style>
    body {
        background-color: #e0d9c9;
        color: #402b23;
    }

    h1 {
        text-align: center;
        color: #5f4339;
        margin-top: 5px;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        background: #f2e8da;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
        color: #5f4339;
    }

    input, select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid #5f4339;
        border-radius: 4px;
        font-size: 16px;
    }

    button {
        background-color: #5f4339;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #402b23;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #5f4339;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #5f4339;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2e8da;
    }

    .modal-content {
        background-color: #fff;
    }

    .modal-title {
        color: #5f4339;
    }

    .modal-body {
        color: #402b23;
    }

    .modal-footer {
        background-color: #f2e8da;
    }

    .create-link {
        text-align: center;
        margin-top: 20px; 
    }

        
        .create-link a {
            color: #5f4339; 
            text-decoration: none;
            font-size: 24px; 
            font-weight: bold;
        }

            .create-link a:hover {
                text-decoration: underline;
                border-bottom: 2px solid #402b23; 
</style>

<h1>@ViewData["Title"]</h1>

<div class= "create-link">
    <a asp-controller="Create" asp-action="Create">Create</a>
</div>

<div>
    <form asp-controller="Update" asp-action="SearchByMultipleCriteria" method="post">
        <label for="author">Search by Author:</label>
        <input type="text" id="author" name="author" />
        
        <label for="title">Search by Title:</label>
        <input type="text" id="title" name="title" />
        
        <label for="university">Search by University:</label>
        <input type="text" id="university" name="university" />
        
        <label for="institute">Search by Institute:</label>
        <input type="text" id="institute" name="institute" />
        
        <label for="language">Search by Language:</label>
        <input type="text" id="language" name="language" />
        
        <label for="supervisor">Search by Supervisor:</label>
        <input type="text" id="supervisor" name="supervisor" />
        
        <label for="keyword">Search by Keyword:</label>
        <input type="text" id="keyword" name="keyword" />
        
        <label for="topic">Search by Topic:</label>
        <input type="text" id="topic" name="topic" />
        
        <button type="submit">Search</button>

    </form>
</div>


@if (ViewBag.Search != null)
{
    <h2>Search Results</h2>
    <p>@ViewBag.Search</p>

    @if (Model != null && Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Özet</th>
                    <th>Yıl</th>
                    <th>Tür</th>
                    <th>Sayfa Sayısı</th>
                    <th>Dil</th>
                    <th>Teslim Tarihi</th>
                    <th>Yazar</th>
                    <th>Üniversite</th>
                    <th>Enstitü</th>
                    <th>Supervisor</th>
                    <th>Cosupervisor</th>
                    <th>Keyword</th>
                    <th>Topic</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var tez in Model)
                {
                    <tr>
                        <td>@tez.Title</td>
                        <td>@tez.Abstract</td>
                        <td>@tez.Year</td>
                        <td>@tez.Type</td>
                        <td>@tez.NumOfPages</td>
                        <td>@tez.Language</td>
                        <td>@tez.SubmissionDate</td>
                        <td>@(tez.Author != null ? tez.Author.Name : "")</td>
                        <td>@(tez.University != null ? tez.University.Name : "")</td>
                        <td>@(tez.Institute != null ? tez.Institute.Name : "")</td>
                        <td>@(tez.Supervisor != null ? tez.Supervisor.Person?.Name : "")</td>
                        <td>@(tez.CoSupervisor != null ? tez.CoSupervisor.Person?.Name : "")</td>
                        <td>@(tez.Keyword != null ? tez.Keyword.KeywordText : "") </td>>
                        <td>@(tez.Topic != null ? tez.Topic.TopicName : "") </td>>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="openUpdateModal('@tez.ThesisNumber')">Update</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Tez Güncelleme</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm" asp-controller="Update" asp-action="UpdateThesis" method="post">
                            <input type="hidden" id="thesisId" name="id" />
                            <div class="form-group">
                                <label for="selectedValue"> Choose the value to update:</label>
                                <select id="selectedValue" name="selectedValue" class="form-control" onchange="toggleNewValueSection(this)">
                                   
                                    <option value="">Seçiniz</option>
                                    <option value="University">Üniversite</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="CoSupervisor">CoSupervisor</option>
                                    <option value="Keyword">Keyword</option>
                                    <option value="Topic">Topic</option>
                                    <option value="Institute">Institute</option>
                                </select>
                            </div>
                            <div class="form-group" id="newValueSection" style="display:none;">
                                <label for="newValue">New value:</label>
                                <input type="text" id="newValue" name="newValue" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitUpdateForm()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function openUpdateModal(thesisId) {
                $('#updateModal').modal('show');
                $('#thesisId').val(thesisId);
            }

            function submitUpdateForm() {
                var selectedValue = $('#selectedValue').val();
                var newValue = $('#newValue').val();
                var thesisId = $('#thesisId').val();

                $.ajax({
                    type: 'POST',
                    url: '/Update/UpdateThesis',
                    data: {
                        id: thesisId,
                        selectedValue: selectedValue,
                        newValue: newValue
                    },
                    success: function (response) {
                        $('#updateModal').modal('hide'); 
                        location.reload(); 
                    },
                    error: function (error) {
                        console.log(error);
                        $('#updateModal').modal('hide'); 
                    }
                });
            }

            function toggleNewValueSection(select) {
                var selectedValue = $(select).val();
                if (selectedValue !== '') {
                    $('#newValueSection').show();
                } else {
                    $('#newValueSection').hide();
                }
            }
        </script>

        }

}

   


